*{
  margin:0px;
  padding:0px;
}
.elements{
  width:100%;
  background-color:yellow;
  display:inline-block;
}
.content{
  height:100px;
  width:15%;
  background-color:grey;
  display:inline-block;
}
@media(max-width:1024px){
  .content{
    width:50%;
  }
}
}
@media(max-width:420px){
  .content{
    width:90%;
  }
}